* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container1 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-height: 100vh;
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2em 12em;
    margin: 0 auto;
}

header {
    background-color: grey;
    color: white;
    padding: 2em;
}

footer {
    background-color: lightgrey;
    color: white;
    padding: 2em;
}

.sidebar {
    background-color: red;
    color: white;
    padding: 2em;
}

h1 {
    border-bottom: 2px solid gray;
}