* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.container1 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2em 5em 2em 5em;
    margin: 0 auto;
    width: 1000px;
}

header {
    background-color: grey;
    color: white;
    padding: 2em;
}

footer {
    background-color: lightgrey;
    color: white;
    padding: 2em;
}

.sidebar {
    background-color: red;
    padding: 2em;
}